body {
   padding: 0;
   margin: 0;
}
#mapid {
   height: 600px;
   width: 80%;
   float :left;

}

#buttons {
float : right;

}

body, input, select, textarea { 
   font-family:Verdana, Arial, Helvetica, sans-serif; 
   font-size:11px; 
}


