html, body {
   padding: 0;
   margin: 0;
   height : 100%;
}
input {
   margin-top : 10px;
   margin-bottom : 10px;
}

#mapid {
   height: 100%;
   width : 80%;
   float : left; 
}
#sidebar {
   float : right;
   width : 20%;
   height : 100%;
}

#buttons {
   height : 20%;
}
#report {
  overflow: scroll;
   height : 80%;
}

.content {
  background: rgba(255, 255, 255, 0.7);
}

body, input, select, textarea { 
   font-family:Verdana, Arial, Helvetica, sans-serif; 
   font-size:15px; 
}

#filter2 {

margin-left : 15px;
}
